@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/*  Reset */

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  General and Utilities */

html {
    font-size: 62.5%;
}

:root {
    /* Colors */
    /*  Primary */
    --red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --green: hsl(166, 100%, 37%);
    --blue: hsl(234, 85%, 45%);

    /*  Gradients */
    --bg-light-blue1: #7857ff;
    --bg-light-blue2: #2e2be9;
    --circle-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-persian-blue: hsla(241, 72%, 46%, 0);

    /*  Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --lavender: hsl(241, 100%, 89%);
    --dark-grey: hsl(224, 30%, 27%);
}

body {
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
}

/* Main */

/* Top Half */

section {
    height: calc(100vh - 5vh);
    height: 90vh;
    display: grid;
    grid-template-rows: 45vh 50vh;
    justify-items: center;
}

.container-one {
    background-image: linear-gradient(to bottom, var(--bg-light-blue1), var(--bg-light-blue2), var(--blue));
    width: 100%;
    border-radius: 0 0 30px 30px;
    display: grid;
    place-items: center;
}

.title-one {
    color: var(--lavender);
    font-size: 1.6rem;
    margin-block: 2rem;
}

.container-one__num {
    background-image: linear-gradient(to bottom, var(--blue), var(--bg-light-blue2));
    /* padding: 2rem 3.5rem; */
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.container-one__num span {
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
}

.container-one__num p {
    color: var(--lavender);
    font-size: 1.6rem;
}

.container-one__text {
    width: 75%;
    text-align: center;
}

.container-one__text h3 {
    color: var(--white);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.container-one__text p {
    color: var(--lavender);
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

/* Bottom Half */

.container-two {
    width: 100%;
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container-two .title-three {
    color: var(--dark-grey);
    font-size: 1.8rem;
    font-weight: 800;
    padding-block: 1.1rem 0;
}

.container-two__wrapper {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.container-two__wrapper__react,
.container-two__wrapper__mem,
.container-two__wrapper__verb, 
.container-two__wrapper__vis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: .8rem;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
}

.container-two__wrapper__react {
    background-color: hsla(0, 100%, 67%, 0.096);
}

.wrapper__text {
    display: flex;
    gap: 1rem;
}

.react__text {
    color: hsl(0, 100%, 67%);
}

.container-two__wrapper__mem {
    background-color: hsla(39, 100%, 56%, 0.089);
}

.mem__text {
    color: hsl(39, 100%, 56%);
}

.container-two__wrapper__verb {
    background-color: hsla(166, 100%, 37%, 0.068);
}

.verb__text {
    color: hsl(166, 100%, 37%);
}

.container-two__wrapper__vis {
    background-color: hsla(234, 85%, 45%, 0.062);
}

.vis__text {
    color: hsl(234, 85%, 45%);
}

.container-two__num {
    color: var(--dark-grey);
}

.container-two__span {
    color: hsl(224, 12%, 75%);
}

.btn {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    border-radius: 30px;
    background-color: var(--dark-grey);
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    z-index: 1;
    overflow: hidden;
    transition: 400ms 500ms ease-in-out;
}

.btn::before {
    content: '';
    background-image: linear-gradient(to left, transparent 0%, var(--blue) 8%, var(--bg-light-blue2) 12%, var(--lavender) 24%, var(--bg-light-blue2) 37%, var(--blue) 40%, transparent 45%);
    width: 190%;
    height: 5.5rem;
    /* border-radius: 30px; */
    position: absolute;
    top: 0;
    left: -190%;
    z-index: -1;
    transition: 600ms ease-in-out;
}

.btn:hover {
    background-color: var(--blue);
    font-weight: 800;
    outline: 2px solid var(--dark-grey);
    outline-offset: -2px;
}

.btn:hover::before {
    left: 0;
}


.attribution {
    padding-block: .3rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution > * {
    color: var(--dark-grey);
}

.attribution a:hover {
    color: var(--blue);
    text-decoration: underline;
}

@media (width >= 800px) {

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        height: 50vh;
        width: 55vw;
        border-radius: 30px;
        box-shadow: 5px 5px 30px 8px rgba(0, 68, 255, 0.158);
    }

    .title-one {
        color: var(--lavender);
        font-size: 2rem;
        margin-block: 2rem;
    }

    .container-one__num span {
        color: var(--white);
        font-size: 7rem;
        font-weight: 700;
    }

    .container-one__num p {
        font-size: 1.8rem;
    }

    .container-one__text h3 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .container-one__text p {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }


    .container-one {
        border-radius: 30px;
    }

    .container-two {
        padding: 3rem;
        border-radius: 0 30px 30px 0;
    }

    .container-two .title-three {
        font-size: 2rem;
    }

    .container-two__wrapper {
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .container-two__wrapper__react,
    .container-two__wrapper__mem,
    .container-two__wrapper__verb,
    .container-two__wrapper__vis {
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 10px;
        margin-top: 2rem;
        padding-block: 1.5rem;
    }

    .btn {
        margin-top: 1rem;
    }

    .attribution {
        width: max-content;
        padding-block: 1rem;
        font-size: 1.2rem;
        position: relative;
    }

}
